# 编译产物
/target/
**/target/

# Debug
debug/

# Release
release/

# 增量编译文件
*.rlib

# IDE
.idea/
.vscode/
*.swp
*.swo
*.sublime-*

# OS
.DS_Store
Thumbs.db

# LaTeX 中间文件
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*-blx.bib
*.xdv

# pdf
*.pdf
